<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/urls.css" />
  <title>URLS</title>
</head>
<body>
  <h1>Show short URLS here</h1>
  <ul class="urls">
    <% for (let url of urls ) {%>
      <li><%= url.long_url %> <%= url.short_url %></li>
    <% } %>
  </ul>
</body>
</html>