<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/urls.css" type="text/css" />
  <title>Document</title>

</head>
<body>
  <h1>URLS</h1>
  <div class="urls">
    <ul>
      <li>url 1</li>
      <li>url 2</li>
      <li>url 3</li>
    </ul>
  </div>
</body>
</html>